{% extends "base.html" %}
{% load static %}
{% block content %}
  <p class="lead">Click on a dog below for more details or to apply to adopt!</p>
  <div class="cards">
  <ul class="list-unstyled list-inline">
    <form action={% url 'search_by_sex_or_age_size' %} method="GET">
      <input type="text" name="q" placeholder="Search by age, sex or size">
      <button type="submit" >Search</button>
    </form>
    {% for pet in pets %}
    <li class="list-inline-item">
      <div class="card homepage-card">
        <img src="{{ pet.photo.url }}" class="card-img-top img-thumbnail homepage-img" alt="photo-of-{{pet.name}}">
          <div class="card-body">
            <div class="tags">
            <ul class="list-inline">
              <li class="list-inline-item"><span class="tag">{{ pet.sex }}</span></li>
              <li class="list-inline-item"><span class="tag">{{ pet.age_group }}</span></li>
              <li class="list-inline-item"><span class="tag">{{ pet.size }}</span></li>
              {% if pet.heartworm_positive or pet.health_concerns %}<li class="list-inline-item"><span class="tag">Health Issues</span></li>
              {% else %}{% endif %}
            </ul>
          </div>
          <div class="card-body text">
            <h2 class="card-title"><a href="{% url 'get_pet' pk=pet.pk %}">{{ pet.name }}</a></h2>
          <dl class="row">
            <dt class="col-sm-3">Breed</dt>
            <dd class="col-sm-9">{{ pet.breed }}</dd>
            <dt class="col-sm-3">Age</dt>
            <dd class="col-sm-9">{{ pet.age }}</dd>
            <dt class="col-sm-3">Weight</dt>
            <dd class="col-sm-9">{{ pet.weight }}</dd>
          </dl>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}


