{% extends "base.html" %}
{% load static %}
{% block content %}
  <p class="lead">Click on a dog below for more details or to apply to adopt!</p>
  <div class="cards">
  <ul class="list-unstyled list-inline">
    {% for pet in pets %}
    <li class="list-inline-item">
      <div class="card homepage-card">
        <img src="{{ pet.photo.url }}" class="card-img-top img-thumbnail homepage-img" alt="photo-of-{{pet.name}}">
          <div class="card-body tags">
            <ul>
              <li class="tags">{{ pet.sex }}</li>
              <li class="tags">{{ pet.age_group }}</li>
              <li class="tags">{{ pet.size }}</li>
              {% if pet.heart_worm_positive == True %}<li class="tags">{{ pet.heart_worm_positive }}</li>
              {% else %}{% endif %}
            </ul>
          </div>
          <div class="card-body text">
            <h2 class="card-title"><a href="{% url 'get_pet' pk=pet.pk %}">{{ pet.name }}</a></h2>
            
          <dl>
            <dt class="col-sm-3">Breed</dt>
            <dd class="col-sm-9">{{ pet.breed }}</dd>
            <dt>Age</dt>
            <dd>{{ pet.age }}</dd>
            <dt class="col-sm-3">Weight: </dt>
            <dd class="col-sm-9">{{ pet.size }}</dd>
          </dl>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
{{ pet.name }}
{{ pet.breed }}
{{ pet.age }}
{{ pet.weight }}
{{ pet.description }}
{{ pet.spay_neuter }}
{{ pet.health_notes }}
{{ pet.notes }}
{{ pet.date_created }}
{{ pet.date_updated }}
{{ pet.status }}
{{ pet.sex }}
{{ pet.age_group }}
{{ pet.size }}
{{ pet.good_with_kids }}
{{ pet.good_with_dogs }}
{{ pet.good_with_cats }}
{{ pet.heart_worm_positive }}
{{ pet.health_issues }}


