{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="pet-detail">
    <img src="media/{{ pet.pet_photo }}" alt="photo-of-{{pet.name}}" />
    <h3>{{ pet.name }}</h3>
    <div class="tags">
        <ul class="unstyled">
        {% for tag in tags %}
            <li>{{ tag.tag }}</li>
        {% endfor %}
    </ul>
    </div>
    <ul class="list-unstyled">
    <li>Breed: {{ pet.breed }}</li>
    <li>Age: {{ pet.age }}</li>
    <li>Weight: {{ pet.size }}</li>

    <p>{{ pet.description }}</p>
    <!-- {{ pet.vac_status }} -->
    <!-- {{ pet.spay_neuter }} -->
    <p>Date added: {{ pet.date_created }}</p>
    </ul>
</div>
<a href="{% url 'application' %}" class="button">Apply to Adopt!</a>
{% endblock %}
