{% extends "staff_base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>Update your rescue organization contact info and details below!</h1>
<div>
    <form action="{% url 'agency' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div>
        <button type="submit">Submit Card</button>
        <a href="{% url 'home' %}">Cancel</a>
      </div>
    </form>
  </div>
  {% else %}
  <h1>Please <a href="/accounts/login/">login</a> to view this page.</h1>
  {% endif %}
{% endblock %}