{% extends "staff_base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>Review your list of applications below!</h1>
<table class="table">
    <thead>
      <tr>
            <th>Status</th>
            <th>Pet Name</th>
            <th>Applicant Name</th>
            <th>Applicant Phone</th>
            <th>Applicant Email</th>
            <th>Date Submitted</th>
            </tr>
            </thead>
            <tbody>
        {% for applicant in applicants %}
            <tr>
            <td>{{ applicant.status }}</td>
            <td>{{ applicant.pet_id }}</td>
            <td><a href="{% url 'application_detail' pk=applicant.pk %}">{{ applicant.name }}</a></td>
            <td>{{ applicant.phone }}</td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.date_created }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
<h1>Please <a href="/accounts/login/">log in</a> to view this page.</h1>
{% endif %}
{% endblock %}