{% extends "staff_base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>Review your list of applications below!</h1>
<table class="table">
    <thead>
      <tr>
            <th>Status</th>
            <th>Pet Name</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Date Added</th>
            </tr>
            </thead>
            <tbody>
    {% for application in applications %}
            <tr>
            <a href="{% url 'get_pet' pk=pet.pk %}">
            <td>{{ applicant.status }}</td>
            <td>{{ applicant.pet_id }}</td>
            <td>{{ applicant.name }}</td>
            <td>{{ applicant.phone }}</td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.date_created }}</td></a>
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% else %}
<h1>Please <a href="/accounts/login/">log in</a> to view this page.</h1>
{% endif %}
{% endblock %}