{% extends "staff_base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container is-flex-direction-column is-justify-content-space-around ml-0">
<br />
    <br />
    <div class="block level is-flex-direction-row">
    
<p class="lead ml-1 level-left is-justify-content-space-evenly">Review your list of pets below:</p>
<div class="level-right"><a href="{% url 'add_pet' %}" class="button is-primary">Add Pet</a></div>
</div>

<div class="block is-align-content-flex-start">
<table class="table">
    <thead>
        <tr>
        <th></th>
        <th>Adoption Status</th>
        <th>Pet Name</th>
        <th>Breed</th>
        <th>Sex</th>
        <th>Size</th>
        <th>Date Added</th>
        <th></th>
        <!-- <th>New Applications</th>
        <th>Open Applications</th> -->
        </tr>
        </thead>
        <tbody>
    {% for pet in pets %}
        <tr>   
        <td><img src="{{ pet.photo.url }}" class="img-thumbnail" alt="thumbnail-of-{{pet.name}}" style="height: 4rem; width: 4rem; object-fit:cover;"></td>
        <td>{{ pet.status }}</td>
        <td><a href="{% url 'admin_pet_detail' pk=pet.pk %}">{{ pet.name }}</a></td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.sex }}</td>
        <td>{{ pet.size }}</td>
        <td>{{ pet.date_created|date:"SHORT_DATE_FORMAT" }}</td>
        <td><a href="{% url 'admin_pet_detail' pk=pet.pk %}"><i class="far fa-edit"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
</div>
    {% else %}
    <h1>Please <a href="/accounts/login/">log in</a> to view this page.</h1>
    {% endif %}


        <div id="application"></div>
        
    
{% endblock %}