{% extends "staff_base.html" %}
{% load static %}
{% block content %}
{% if request.user.is_authenticated %}
<h1>Review your list of pets below!</h1>
<table class="table">
    <thead>
        <tr>
        <th></th>
        <th>Adoption Status</th>
        <th>Pet Name</th>
        <th>Breed</th>
        <th>Sex</th>
        <th>Size</th>
        <th>Date Added</th>
        <!-- <th>New Applications</th>
        <th>Open Applications</th> -->
        </tr>
        </thead>
        <tbody>
    {% for pet in pets %}
        <tr>   
        <td><img src="{{ pet.photo.url }}" class="img-thumbnail" alt="thumbnail-of-{{pet.name}}" style="max-height: 50px;"></td>
        <td>{{ pet.status }}<td>
        <a href="{% url 'admin_pet_detail' pk=pet.pk %}">{{ pet.name }}</a></td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.sex }}</td>
        <td>{{ pet.size }}</td>
        <td>{{ pet.date_created }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h1>Please <a href="/accounts/login/">log in</a> to view this page.</h1>
    {% endif %}


        <div id="application"><a href="{% url 'add_pet' %}" class="button is-info">Add Pet!</a></div>
        
    
{% endblock %}