* {
    box-sizing: border-box; 
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    flex-flow: row nowrap;
    margin: 10px auto;
    justify-content: flex-end;
}

.maincontainer {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    /* justify-content: space-around; */
    padding: 50px;
}

.pets-container   {
    flex-flow: row wrap;
    width: 100%;
    margin: 10px;
}

.pet-card   {
    flex-flow: column nowrap;
    max-width: 30%;
    padding: 10px;
    margin: 5px;
}

.pet-details {
    display: flex; 
    flex-direction: column; 
    padding: 5px;
    border: 1px solid blue;
    margin: 10px;
    /* max-width: 310px; */
    max-width: 30%;
}

.button {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.button:active {
	position:relative;
	top:1px;
}

.pet-detail {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    justify-content: space-around;
    padding: 50px;
}

.homepage_img {
    height: 18rem;
    object-fit: cover;
}

.homepage_card {
    margin: 10px;
    width: 18rem;
    cursor: pointer;
}

.homepage_card:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}